@import "normalize";
@import "fonts";

@mixin media($media) {
  @media only screen and (max-width: $media) {
    @content;
  }
}
// Разрешения экрана для миксина

$xs: 480px;
$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;

html{
  font-size: 16px;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #000;
}
p{
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
@media (min-width: 540px) {
  .container {
    max-width: 510px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 690px;
    &--md{
      max-width: 900px;
    }
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 930px;
  }
}
@media (min-width: 1140px) {
  .container {
    max-width: 1110px;
  }
}

.header{
  background-color: #212121;
  padding-top: 23px;
  padding-bottom: 23px;
  position: fixed;
  width: 100%;
  z-index: 100;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__burger{
    margin-right: 30px;
    display: none;
    @include media($lg){
      display: inline;
    }
  }
  &__dots{
    margin-left: 30px;
    display: none;
    @include media($lg){
      display: inline;
    }
  }
  &__cart-button{
    color: #fff;
    opacity: 0.78;
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: -23px;
      background-image: url(../img/cart.png);
      width: 17px;
      height: 17px;
    }
  }
}
.main{
  padding-top: 70px;
  background-color: #e3f0ff;
}
.purchases{
  border-top: 1px solid transparent;
  &__title{
    margin-top: 31px;
    margin-bottom: 65px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    @include media($sm){
      text-align: left;
    }
  }
}
.purchases-items{
  display: flex;
  justify-content: center;
  @include media($lg){
    flex-direction: column;
  }
  &__card:not(:last-child){
    margin-right: 32px;
    @include media($lg){
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}
.purchase-card{
  padding: 32px 24px 24px 24px;
  border-radius: 6px;
  background-color: #fff;
  box-sizing: border-box;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include media($xl){
    width: 290px;
  }
  @include media($lg){
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  @include media($sm){
    flex-direction: column;
    align-items: center;
  }
  &--best-value{
    position: relative;
    border-radius: 0 0 6px 6px;
    box-shadow:-2px 1px 12px 5px rgba(0,0,0,0.19);
    -webkit-box-shadow:-2px 1px 12px 5px rgba(0,0,0,0.19);
    -moz-box-shadow:-2px 1px 12px 5px rgba(0,0,0,0.19);
    @include media($lg){
      margin-top: 30px;
    }
    &::before{
      content: 'BEST VALUE';
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      position: absolute;
      top: -36px;
      left: 0;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: #ef5350;
      border-radius: 6px 6px 0 0;
      box-shadow:-2px 0px 12px 5px rgba(0,0,0,0.19);
      -webkit-box-shadow:-2px 0px 12px 5px rgba(0,0,0,0.19);
      -moz-box-shadow:-2px 0px 12px 5px rgba(0,0,0,0.19);
    }
  }
  &__title{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
    @include media($lg){
      text-align: left;
    }
    @include media($sm){
      text-align: center;
    }
  }
  &__licence{
    color: #757575;
    text-align: center;
    @include media($lg){
      text-align: left;
    }
    @include media($sm){
      text-align: center;
    }
  }
  &__list{
    padding-left: 0;
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 15px;
  }
  &__item{
    list-style: none;
    &:not(:last-child){
      margin-bottom: 24px;
    }
  }
  &__item-inserted{
    display: flex;
    justify-content: space-between;
  }
  &__item-inserted--bold{
    font-weight: 700;
  }
  &__item-price{
    font-weight: 400;
    flex-shrink: 0;
  }
  &__item-description{
    padding-left: 15px;
    margin-top: 24px;
  }
  &__item-content{
    list-style: none;
    position: relative;
    &:not(:last-child){
      margin-bottom: 15px;
    }
    &::before{
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: -13px;
    }
  }
  &__content{
    @include media($lg){
      width: 50%;
      padding-right: 15px;
    }
    @include media($sm){
      width: 100%;
    }
  }
  &__pay-data{
    text-align: center;
    @include media($lg){
      width: 50%;
      padding-left: 15px;
      text-align: left;
    }
    @include media($sm){
      width: 100%;
    }
  }
  &__old-price{
    margin-top: 30px;
    opacity: 0.5;
    text-decoration: line-through;
    margin-bottom: 15px;
    @include media($lg){
      text-align: left;
      padding-left: 5px;
    }
    @include media($sm){
      text-align: center;
      padding-left: 0;
    }
  }
  &__price{
    font-size: 44px;
    margin-bottom: 40px;
    @include media($lg){
      text-align: left;
    }
    @include media($sm){
      text-align: center;
      margin-bottom: 25px;
    }
  }
  &__price-valuta{
    font-size: 16px;
  }
  &__timer-massage{
    font-size: 14px;
    position: relative;
    @include media($xl){
      text-align: left;
      padding-left: 26px;
    }
    &::before{
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      background-image: url(../img/watch.png);
      left: 6px;
      @include media($xl){
        left: 0;
      }
    }
  }
  &__button{
    margin-top: 30px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #3581d5;
    background-color: #fff;
    border: 2px solid #3581d5;
    border-radius: 3px;
    cursor: pointer;
    @include media($lg){
      width: 240px;
    }
    @include media($sm){
      width: 100%;
    }
  }
  &__button--best-value{
    background-color: #3581d5;
    color: #fff;
  }
}
.pay-methods{
  &__inner-wrapper{
    border-bottom: 1px solid #bdbdbd;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__inner{
    max-width: 446px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
.benefits{
  padding-top: 60px;
  padding-bottom: 65px;
  &__cards{
    display: flex;
    justify-content: space-between;
    @include media($lg){
      flex-direction: column;
    }
  }
}
.content-card{
  &--benefit{
    width: 33.33%;
    @include media($lg){
      width: 100%;
    }
    &:not(:last-child){
      margin-right: 30px;
      @include media($lg){
        margin-right: 0;
        margin-bottom: 35px;
      }
    }
  }
  &--support:first-child{
    margin-right: 40px;
    @include media($lg){
      margin-right: 0;
      margin-bottom: 35px;
    }
  }
  &__title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    padding-left: 48px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &--money::before{
      background-image: url(../img/dollar-icon.png);
    }
    &--secure::before{
      background-image: url(../img/shield-icon.png);
    }
    &--key::before{
      background-image: url(../img/key-icon.png);
    }
    &--tel::before{
      background-image: url(../img/tel-icon.png);
    }
    &--call::before{
      background-image: url(../img/call-icon.png);
    }
  }
  &__text{
    margin-top: 15px;
    line-height: 24px;
  }
}
.support{
  padding-top: 65px;
  padding-bottom: 60px;
  &__cards{
    display: flex;
    justify-content: space-between;
    @include media($lg){
      flex-direction: column;
    }
  }
}
.footer{
  background-color: #212121;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include media($lg){
      flex-direction: column;
    }
  }
  &__form{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    @include media($lg){
      max-width: 100%;
    }
  }
  &__logo{
    flex-shrink: 0;
    display: block;
    @include media($lg){
      margin-bottom: 30px;
    }
  }
  &__form-lable{
    margin-bottom: 15px;
    font-weight: 700;
  }
  &__form-fields-container{
    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 43px;
  }
  &__form-input{
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    background-color: #616161;
    font: inherit;
    padding-left: 17px;
    color: #fff;
    font-family: inherit;
    flex-grow: 1;
    align-self: stretch;
    line-height: normal;
    &::placeholder{
      color: #fff;
      opacity: 0.75;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__form-button{
    color: #fff;
    opacity: 0.75;
    border: none;
    border-radius: 0 4px 4px 0px;
    background-color: #1962b2;
    cursor: pointer;
    padding: 13px 25px;
    align-self: stretch;
  }
  &__form-link{
    color: #1962b2;
  }
  &__form-checkbox-container{
    margin-top: 24px;
    display: flex;
  }
  &__form-checkbox{
    position: absolute;
    height: 0;
    width: 0;
  }
  &__form-checkbox:checked ~ &__form-checkbox-lable::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 3px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &__form-checkbox-lable{
    position: relative;
    top: 4px;
    display: block;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #616161;
    border-radius: 3px;
    margin-right: 17px;
    cursor: pointer;
  }
  &__form-checkbox-text{
    font-size: 12px;
    line-height: 17px;
  }
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
  visibility: hidden;
  &--active{
    visibility: visible;
  }
}
.cart{
  position: fixed;
  top: 65px;
  right: 0;
  background-color: #fff;
  box-sizing: border-box;
  width: 532px;
  height: auto;
  z-index: 20;
  padding: 30px 30px 70px 30px;
  @include media($sm){
    width: 95%;
    padding-left: 50px;
    padding-bottom: 30px;
  }
  &__control{
    color: #1962b2;
    background-color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    padding-left: 23px;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../img/angle.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 6px;
      height: 11px;
      top: 4px;
      left: 0;
    }
  }
  &__title{
    font-size: 20px;
    opacity: 0.8;
    margin-top: 50px;
    margin-bottom: 24px;
  }
  &__item{
    &:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__items{
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-bottom: 1px solid #bdbdbd;
  }
  &__item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item-inner{
    display: flex;
    align-items: flex-start;
    @include media($sm){
     flex-direction: column;
     align-items: flex-start;
     width: 50%;
    }
  }
  &__item-img{
    margin-right: 15px;
    @include media($sm){
      width: 50%;
    }
  }
  &__item-title{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }
  &__item-price{
    font-weight: 700;
    margin-left: 15px;
    flex-shrink: 0;
    @include media($sm){
      margin-left: 0;
      margin-top: 30px;
     }
  }
  &__total-price{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
  }
  &__button-wrapper{
    text-align: right;
    @include media($sm){
      margin-left: 50%;
      margin-top: 15px;
      text-align: left;
      padding-left: 15px;
    }
  }
  &__delete{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
    font-size: 14px;
    opacity: 0.5;
  }
  &__button{
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    background-color: #1962b2;
    border: transparent;
    font-size: 20px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 24px;
  }
}
.popup{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
  padding-left: 30px;
  box-shadow:-2px 0px 12px 5px rgba(0,0,0,0.19);
  -webkit-box-shadow:-2px 0px 12px 5px rgba(0,0,0,0.19);
  -moz-box-shadow:-2px 0px 12px 5px rgba(0,0,0,0.19);
  display: none;
  &--active{
    display: block;
  }
  &__inner{
   text-align: center;
  }
  &__text{
    font-size: 22px;
    margin-bottom: 35px;
  }
  &__button{
    border: none;
    border-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    background-color: #3581d5;
    color: #fff;
    cursor: pointer;
  }
}
